*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-color: #111;
    color: white;
}

header{
    background-color: black;
    padding: 20px;
    text-align: center;
}

nav{
    margin-top: 10px;
}

nav a{
    color: rgb(5, 255, 242);
    text-decoration: none;
    margin: 10px;
}

#produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    padding: 30px;
}

.card{
    background-color: #222;
    width: 350px;
    padding: 20px;
    border-radius: 20px;

    text-align: center;
}

.card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.container-loja{
    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 40px;
    flex-wrap: wrap;
}

.carrinho-container,
.resumo-container{

    background-color: #222;

    padding: 30px;

    border-radius: 20px;

    width: 400px;
}

#carrinho p{
    margin-bottom: 15px;
}

button{
    background-color: cyan;
    font-weight: bold;
    border-radius: 10px;
}

button:hover{
    opacity: 0.8;
}

.sobre-container{
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

.sobre-container h2{
    margin-bottom: 20px;
}

.sobre-container p{
    margin-bottom: 20px;
    line-height: 1.6;
}

@media(max-width: 770px){

    #produtos{
        flex-direction: column;
        align-items: center;
    }

    .container-loja{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 90%;
    }
}